<!-- Main Content -->
<div class="container mx-auto py-8">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    <!-- Left Section: About Parkinson's -->
    <div>
      <h1 class="text-3xl font-bold mb-4">Understanding Parkinson's Disease</h1>
      <p class="text-gray-700 leading-relaxed mb-4">
        Parkinson's disease is a neurodegenerative disorder that affects movement. It results from the progressive loss
        of dopamine-producing cells in the brain.
        This loss leads to a variety of motor symptoms, including tremors, bradykinesia (slowness of movement),
        rigidity, and postural instability.
        Non-motor symptoms such as cognitive impairment, mood changes, and autonomic dysfunction can also occur.
      </p>
      <p class="text-gray-700 leading-relaxed mb-4">
        Parkinson's disease primarily affects older adults, with the risk increasing with age. However, it can also
        affect younger individuals.
      </p>
      <p class="text-gray-700 leading-relaxed mb-4">
        While there is currently no cure for Parkinson's disease, treatment options such as medications, deep brain
        stimulation, and physical therapy can help manage symptoms and improve quality of life.
      </p>
      <img src="./assets/images/home.jpg" alt="Parkinson's Disease" class="w-full mb-4">
    </div>

    <!-- Right Section: Risk Factors -->
    <div>
      <h2 class="text-2xl font-bold mb-4">Risk Factors for Parkinson's Disease</h2>
      <ul class="list-disc text-gray-700 pl-4">
        <li>Age: The risk of Parkinson's disease increases with age.</li>
        <li>Family History: Having a family member with Parkinson's disease may increase your risk.</li>
        <li>Genetics: Certain genetic mutations are associated with an increased risk.</li>
        <li>Gender: Men are slightly more likely to develop Parkinson's disease than women.</li>
        <li>Environmental Factors: Exposure to certain toxins or pesticides may increase the risk.</li>
        <li>Head Trauma: Sustaining a head injury may increase the risk of Parkinson's disease.</li>
      </ul>
      <!--        symptoms-->
      <h2 class="text-2xl font-bold mb-4 mt-8">Symptoms of Parkinson's Disease</h2>
      <ul class="list-disc text-gray-700 pl-4">
        <li>Tremors: Involuntary shaking of the hands, arms, legs, jaw, or head.</li>
        <li>Bradykinesia: Slowness of movement, resulting in difficulty initiating and executing voluntary movements.
        </li>
        <li>Rigidity: Stiffness and resistance to movement in the limbs and trunk.</li>
        <li>Postural Instability: Impaired balance and coordination, leading to falls.</li>
        <li>Non-Motor Symptoms: Cognitive impairment, mood changes, and autonomic dysfunction.</li>
      </ul>
    </div>
  </div>
</div>
