<div class="bg-gray-100 min-h-screen">
  <nav class="bg-blue-500 py-4 sticky top-0">
    <div class="container mx-auto">
      <div class="flex justify-between items-center">
        <div>
          <a href="#" class="text-white font-semibold text-xl">Parkinson's Prediction</a>
        </div>
        <div>
          <a routerLink="/home" class="text-white hover:text-gray-200 mx-2">Home</a>
          <a href="/predict" class="text-white hover:text-gray-200 mx-2">Prediction</a>
          <a href="/about" class="text-white hover:text-gray-200 mx-2">About</a>
        </div>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
  <footer class="bg-gray-900 py-4 mt-8 text-white bottom-0 w-full">
    <div class="container mx-auto text-center">
      <p>&copy; 2024 Parkinson's Prediction. All rights reserved.</p>
    </div>
  </footer>
</div>
