<div class="container mx-auto py-8 pb-16">
  <div class="flex flex-col items-center">
    <h1 class="text-3xl font-bold mb-4">About Us</h1>
    <img src="./assets/images/parkinson.jpg" alt="About Us" class="w-full mb-4 rounded-lg shadow-lg">
    <p class="text-gray-700 leading-relaxed mb-4">
      We are dedicated to providing accurate and reliable predictions for Parkinson's disease. Our team of experts
      combines medical knowledge with advanced technology to help individuals better understand and manage this complex
      condition.
    </p>
    <p class="text-gray-700 leading-relaxed mb-4">
      For inquiries or feedback, please contact us at contact &#64;parkinsonprediction.com.
    </p>
  </div>
<!--  our team-->
  <div class="flex flex-col items-center mt-8">
    <h1 class="text-3xl font-bold mb-4">Our Team</h1>
    <div class="flex flex-wrap justify-center">
      <div class="w-1/4 p-4 text-center">
        <img src="./assets/images/nila.png" alt="Team Member" class="w-full mb-4 rounded-full shadow-lg">
        <h2 class="text-xl font-bold mb-2">Fatema Tuj Johora</h2>
        <p class="text-gray-700">Roll: 11</p>
      </div>
      <div class="w-1/4 p-4 text-center">
        <img src="./assets/images/porag.png" alt="Team Member" class="w-full mb-4 rounded-full shadow-lg">
        <h2 class="text-xl font-bold mb-2">Md. Rafiul Islam</h2>
        <p class="text-gray-700">Roll: 24</p>
      </div>
      <div class="w-1/4 p-4 text-center">
        <img src="./assets/images/shahriar.png" alt="Team Member" class="w-full mb-4 rounded-full shadow-lg">
        <h2 class="text-xl font-bold mb-2">Shahria Alom Bhuiyan</h2>
        <p class="text-gray-700">Roll: 26</p>
      </div>
      <div class="w-1/4 p-4 text-center">
        <img src="./assets/images/sabbir.png" alt="Team Member" class="w-full mb-4 rounded-full shadow-lg">
        <h2 class="text-xl font-bold mb-2">Md. Sabbir Bahadur</h2>
        <p class="text-gray-700">Roll: 28</p>

      </div>
    </div>
  </div>
</div>
